@import 'https://fonts.googleapis.com/css?family=Titillium+Web:400,700';

#restartbtn {
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}
.table {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  text-align: center;
}

#pincode {
  /*font-family: 'Titillium Web', sans-serif;*/
  position: fixed;
  overflow: hidden;
  width: 30%;
  z-index: 9999;
  background-color: rgba(243, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
  margin-top: 5%;
  margin-left: 35%;
  
}

@media (max-width : 320px) {
    #pincode {
        width: 95%;
        margin-left: 2.5%;
        height: auto;
    }
    
    #pincode button{
	   width: 20%;
    }
    
}

/*@media only screen and (max-width: 900px) {
    #pincode {
        /*
        height: 75%;
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 10%;
        padding-right: 10px;
        */ /*Yeah have fun actually making this look good on mobile since I may or may not have given up on it (>_<)*/
       /* 
        width: 50%;
        margin-top: 5%;
        margin-left: 25%;
    }*/
    
}*/

#numbers {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 1;
    
}

#numbers.hide {
  opacity: 0.3;
}

#pincode button {
  width: 90px; 
  height: 90px;
  margin-bottom: 20px;
  /*background-color: rgba(0, 0, 0, 0.35);*/
  background-color: #8e121b;
  border: 0;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  border-radius: 100%;
  opacity: 1;
  outline: 0;
  border: 2px solid #fff;
    cursor: pointer;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s ease-in-out;
}

#restartbtn {
  width: 100px;
  height: 50px;
  margin-top: 60px;
  margin-right: 20px;
  /*background-color: rgba(0, 0, 0, 0.35);*/
  float: right;
  background-color: #8e121b;
  border: 0;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  border-radius: 20%;
  opacity: 1;
  outline: 0;
  border: 2px solid #fff;
}

#pincode button:active {
  background-color: red;
    color: white;
  outline: 0;
    transform: scale(0.9);
}

#fields {
  max-width: 200px;
  padding: 0 20px;
  margin: 50px auto;
  position: relative;
  display: block;
}

#fields .numberfield {
  text-align: center;
}

#fields .numberfield span {
  height: 10px;
  width: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

#fields .numberfield.active span {
  background-color: #fff;
}

#fields .numberfield.right span {
  background-color: #272a2f;
  border-color: #fff;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.grid {
  list-style: none;
  margin-left: -20px;
}

.grid__col--1-of-3,
.grid__col--2-of-6,
.grid__col--4-of-12 {
  width: 33.33333%;
}

.grid__col--1-of-4,
.grid__col--2-of-8,
.grid__col--3-of-12 {
  width: 25%;
}

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid__col--d-first {
  float: left;
}

.grid__col--d-last {
  float: right;
}

.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid--no-gutter .grid__col {
  padding-left: 0;
}

.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid__col--ab {
  vertical-align: bottom;
}

.grid__col--am {
  vertical-align: middle;
}

.miss {
  -webkit-animation: miss .8s ease-out 1;
  animation: miss .8s ease-out 1;
}

@-webkit-keyframes miss {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  70% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  80% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes miss {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  70% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  80% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#hastylink {
  position: fixed;
  bottom:5px;
  left: 0;
  right: 0;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}