canvas{ 
    display: block; vertical-align: bottom; 
} 

h1 {
    margin-top: 0px;
}


.label {
    transition: all ease 0.3s;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    border: none;
    color: black;
    background-color: #ccc;
    border-radius: 5px;
}

.pin-input {
    width: 100px;
}

#printButton {
    bottom: 5px;
    right: 5px;
    position: fixed;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    transition: all ease 0.3s;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    color: white;
}

.symbol {
    width: 100%;
}

.divPickable>div
{
    
    margin: 0px auto;
    width: 33%;
    height: 260px;
    float:left;
}


.divPickable:nth-child(1)
{
    text-align:center;
    width: 34%;

}

.divPickable:nth-child(2)
{
    float: right;
}

.divPickable>div>img
{
    width:50%;
}

/*.divPickable:nth-child(1)>img*/
#questionPhoto
{
    width: 95%;
    

}

input, button, select {
    transition: all ease 0.3s;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}

input:hover, button:hover {
    background-color: red;
    color: white;
}

button:active, input:active {
    
}

.data-panel {
    display: block;
    transition: all 1s ease-in-out;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin-top: 5px;
    height: auto;
    max-height: 1000px;
    opacity: 1;
    margin-bottom: 5px;
    pointer-events: none;
}

.expanded {
    max-height: 0px;
    opacity: 0;
}

.date {
    font-size: 40px;
}

.date-div {
    padding: 20px 30px;
}

.q {
    padding-left: 5px;
}

#particles-js{ 
    position:absolute; 
    z-index: -1;
    width: 100%; 
    height: 100%; 
    background-color: #b61924; 
    /*background-image: url(""); 
    /*background-repeat: no-repeat; 
    background-size: cover; 
    /*background-position: 50% 50%;*/
    top: 0px;
}

@media print {
    #particles-js {
        opacity: 0;
    }
}

body {
    font-family: Helvetica, sans-serif;
    color: black;
    background-color: crimson;
    margin: 0;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("../img/loading.gif") no-repeat center center rgba(243,0,0,1)
}

#questions-container {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(243, 0, 0, 0.5);
    height: 75vh;
    min-height: 600px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
}

.question {
    padding: 20px 40px;
    text-align: center;
}

.next-button {
    font-size: 40px;
    margin-top: 20px;
}

.question h2 {
    font-size: 40px;
}

#photos-container {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    width: auto;
    pointer-events:none; 
}

.photo-container {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    margin-left: 3%;
    margin-right: 3%;
    pointer-events:auto; 
}

.photo {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
    cursor: pointer;
}

.text-container {
    text-align: center;
    pointer-events:none;
    position: relative;
    margin-top: -50px;
}

.nameText {
    
    color: white;
    
    font-size: 1.2em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

section {
    height: 100%;
    margin-bottom: 5%;
}

#bottom {
    position:fixed;
   left:0px;
   bottom:0px;
   height:8%;
   width:100%;
   background:#999;
    text-align: center;
}

.confirm {
    margin-top: 10px;
    height: 80%;
    font-size: 20px;
}

.pec {
    
}

section {
}

#data-panels {
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

button {
    pointer-events: all;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}

input[type=radio] + label>img {
    /*border: 1px dashed #444;*/
    border: solid;
    /*width: 50%;*/
    height: auto;
    transition: 500ms all;
}

input[type=radio]:checked + label>img {
    transform: 
    scale(1.3);
}

input[type=radio] + label>div>p {
    height: auto;
    transition: 500ms all;
    opacity: 0;
}

input[type=radio]:checked + label>div>p {
    opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
    transform: 
    scale(1.3);
}

.fill {
    position:absolute; 
    z-index: 0;
    width: 100%; 
    height: 100%; 
}


#PIN-box {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    background-color: firebrick;
    background-color: rgba(243, 0, 0, 0.5);
    height: 80%;
    min-height: 400px;
    text-align: center;
}

.icon {
    font-size: 100px;
    padding: 20px;
}

.icon-button {
	display: inline;
    text-align: center;
    margin: 0 auto;
}

#icons {
    margin: 20 auto;
    text-align: center;
}

@media only screen and (max-width : 370px) {
    body {
        font-size: 18px;
    }
    .next-button {
        font-size: 40px;
        margin-top: 10px;
    }
    .question h2 {
        font-size: 22px;
    }
    .left, .right {
        width: 45%;
    }
    #questions-container {
        margin-top: 30px;
        width: 80%;
        height: 60%;
        min-height: 400px;
    }
}
